.container {
  margin-top: 100px; /* Adjust as needed */
}

/* Main Colors */
body {
  background: whitesmoke;
  color: rgba(0, 0, 0, 0.4);
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Form Module */
.form-module {
  position: relative;
  background: #ffffff; /* White */
  max-width: 340px; /* Module width */
  width: 100%;
  border-top: 5px solid #190482; /* Accent color */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  top:340px;
}

.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #190482; /* Accent color */
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff; /* White */
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}

.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.2); /* Dark gray */
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}

.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.2); /* Dark gray */
}

.form-module .form {
  display: none;
  padding: 40px;
}

.form-module .form:nth-child(2) {
  display: block;
}

.form-module h2 {
  margin: 0 0 20px;
  color: #190482; /* Accent color */
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.85); /* White with opacity */
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
}

.form-module input:focus {
  border: 1px solid #190482; /* Accent color */
  color: rgba(0, 0, 0, 0.4); /* Dark gray */
}

.form-module button {
  cursor: pointer;
  background: #190482; /* Accent color */
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff; /* White */
}

.form-module button:hover {
  background: #190482; /* Accent color */
}

.form-module .cta {
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.4); /* Dark gray */
  font-size: 12px;
  text-align: center;
}

.form-module .cta a {
  color: rgba(0, 0, 0, 0.4); /* Dark gray */
  text-decoration: none;
}

.fade-in {
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.intro-text {
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 104px;
  color: #190482; /* Accent color */
  overflow: hidden;
}

.fade-in .word-spacing {
  animation: fade-in-word 2s ease forwards;
  opacity: 0;
  transform: translateY(20px);
}

@keyframes fade-in-word {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.word-spacing {
  margin-right: 7px;
}

@media screen and (max-width: 768px) {
  .intro-text {
      font-size: 44px;
  }
}

@media screen and (max-width: 480px) {
  .intro-text {
      font-size: 34px;
  }
}

@keyframes fade-out {
  0% {
      opacity: 1;
      filter: blur(0);
  }
  100% {
      opacity: 0;
      filter: blur(10px);
  }
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container input {
  width: calc(100% - 30px); /* Adjust width of input field */
}

.toggle-password {
  position: absolute;
  top: 1%;
  right: 0;
  cursor: pointer;
  padding: 10px;
  color: rgba(0, 0, 0, 0.4); /* Dark gray */
}
.toggle-password2 {
  position: absolute;
  top: 1%;
  right: 0;
  cursor: pointer;
  padding: 10px;
  color: rgba(0, 0, 0, 0.4); /* Dark gray */
}
